/*------------------------------
Performance and Recording Styles
------------------------------*/

.text {
    margin: 1rem auto;
    width: 90%;
    max-width: 80ch;
}

.video {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

#prat1 {
    grid-area: prat1;
}

#prat2 {
    grid-area: prat2;
}

#prav1 {
    grid-area: prav1;
}

#prav2 {
    grid-area: prav2;
}

@media screen and (min-width: 1170px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 35rem 35rem 1fr;
      grid-gap: 1rem;
      grid-template-areas: 
      ". prat1 prav1 ."
      ". prav2 prat2 .";
      width: 90%;
      margin: 0 auto;
    }
    
}
