#sheetmusicimg {
    width: 40rem;
}

#wandaimg {
    grid-area: wandaimg;
}

#wandatxt {
    grid-area: wandatxt;
}

@media screen and (min-width: 1170px) {
    #sheetmusicimg {
        width: 35rem;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 35rem 35rem 1fr;
      grid-gap: 1rem;
      grid-template-areas: 
      ". wandaimg wandatxt .";
      width: 90%;
      margin: 0 auto;
    }
    
}