.titleCard > h1 {
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.titleCard > h2 {
    font-size: 2.75rem;
    margin: 0;
    padding: 0;
}

.titleCard > h3 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
    padding: 0;
}