.error {
    width: 90%;
    max-width: 60rem;
    margin: 8rem auto;
}

.error > h3 {
    font-size: 2rem;
    margin: 0;
}

.error > h4 {
    text-align: center;
    font-size: 1.625rem;
    margin: 0;
}